#container{
    background-color: rgba(173, 216, 230, 0.148);
    width: 50vw;
    min-width: 500px;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
#plank{
    width: 400px;
    height: 40px;
    background-color: brown;
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    transition: transform 0.5s ease-out;
}
#clickable-area-for-plank{
    background-color: rgba(246, 59, 26, 0.085);
    width: 400px;
    height: 46vh;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 3;
}
#pivot{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 50px solid gray;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}